<div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t('hash') %></th>
        <th><%= t('name') %></th>
        <th><%= t('patient.gender') %></th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each_with_index do |patient, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to patient.first_name, patient_path(patient), id: patient.first_name %></td>
          <td><%= patient.gender %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>